{
  "env": {
    "es6": true,
    "jest": true
  },
  "parserOptions": {"ecmaVersion": 2018},
  "plugins": ["node"],
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "rules": {
      "node/exports-style": ["error", "module.exports"],
      "no-console": 0,
      "no-process-exit": 0
  }
}
